*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}

body{
    background-color:magenta;
}
:root{
    --border:2px solid black;
}

/* navbar section */
#header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header .logo
{
    background: linear-gradient(40deg, rgb(210, 15, 15) 25%,rgb(244, 177, 6) 90%);
    font-family: 'Poppins';
    text-transform: uppercase;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
    transition: 0.3s;
}
#header .logo:hover
{
    -webkit-text-stroke: 2px rgb(255, 221, 0);
    color: rgb(255, 238, 0);
    transform: scale(1.05);
}
#header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}
#header ul li
{
    list-style: none;
    margin-left: 20px;
}
#header ul li a{
    font-size: 20px;
    text-decoration: none;
    padding: 6px 15px;
    color:purple;
    border-radius: 20px;
}

#header ul li a:hover
{
    background: linear-gradient(40deg, rgb(175, 22, 160) 25%,rgb(244, 6, 6) 90%);
    color: white;
}
#header ul li a.active
{
    background:rgb(96, 32, 88);
    color: white;
}
#header .icon-class
{
    position: relative;
}
#header .dropdown {
    position: relative;
}

#header .dropdown .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: transparent;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#header .dropdown:hover .dropdown-menu {
    display: block;
}

#header .dropdown-menu li {
    padding: 10px;
}

#header .dropdown-menu li a {
    display: block;
    color: #920b87;
    text-decoration: none;
}

#header .dropdown-menu li a:hover {
    background-color: transparent;
}
/* navbar section end */


/* login-form and Registration form css */
.form-container
{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: url(./images/login-back.jpg)no-repeat;
    background-image: cover;
}

.form-container form
{
    width: 500px;
    border-radius: 5px;
    border: var(--border);
    padding: 20px;
    /* text-align: center;
    background-color: aliceblue; */
    text-align: center;
	border: 1px solid rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(7px);
	-webkit-backdrop-filter: blur(7px);
}
.form-container form h2
{
    font-size: 30px;
    margin-bottom: 10px;
    text-transform: uppercase;
    background: linear-gradient(40deg, rgb(246, 43, 2) 25%,rgb(244, 196, 6) 90%);
    text-transform: uppercase;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}
.form-container form .box
{
    width: 90%;
    border-radius: 5px;
    border: black;
    padding: 12px 14px;
    font-size: 18px;
    margin: 10px 0;
}

.form-container form label
{
    color: rgb(72, 201, 234);
    font-size: 20px;
    margin-top: 10px;
}

.btn,
.delete-btn,
.option-btn,
.btn1
{
    display: inline-block;
    padding: 8px 25px;
    cursor: pointer;
    font-size: 18px;
    color: white;
    border-radius: 5px;
}
.message
{
    position: sticky;
    top: 0;left: 0;right: 0;
    padding: 15px 10px;
    text-align: center;
    z-index: 1000;
    box-shadow: black;
    text-transform: uppercase;
    cursor: pointer;
}
.btn
{
    background-color: aqua;
    margin-top: 10px;
}
.btn1
{
    background-color: red;
    margin-top: 5px;
}

.delete-btn
{
    background-color: red;
}
.option-btn
{
    background-color: orange;
}
.btn:hover,
.delete-btn:hover,
.option-btn:hover
{
    background-color:linear-gradient(40deg, rgb(246, 43, 2) 25%,rgb(244, 196, 6) 90%);
}
.form-container form p
{
    margin-top: 20px;
    font-size: 20px;
    color: black;
}
.form-container form p a{
    color: red;
}
.form-container form p a:hover
{
    text-decoration: underline;
}
/* login-form and Registration form css */


/* index/User-profile */
.container
{
    padding: 0 20px;
    margin: 0 auto;
    max-width: 1200px;
    padding-bottom: 70px;
    margin-top: 80px;
}
.container .user_profile
{
    padding: 10px;
    text-align: center;
    font-size: 20;
    border: black;
    border-radius: 5px;
    margin: 20px auto;
    max-width: 450px;
    text-align: center;
	border: 1px solid rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(7px);
	-webkit-backdrop-filter: blur(7px);
}
.user_profile p
{
    font-size: 25px;
    color: rgb(23, 19, 19);
}
.user_profile p span
{
    font-size: 20px;
    color: red;
}

/* products Display */
.container .products .box-container
{
    /* background: url(images/container-back.jpg); */
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}
.container .products .box-container .box img
{
    height: 230px;
    width: 200px;
}
.container .products .box-container .box img:hover
{
    transform: scale(1.18);
    /* webkit-text-stroke: 2px rgb(255, 234, 0);
    color: rgb(215, 221, 0);
    transform: scale(1); */
}

.heading
{
    text-align: center;
    background: linear-gradient(153deg, rgb(245, 45, 42) 42%, rgb(234, 146, 39) 66%);
    margin-bottom: 20px;
    font-family: 'Poppins';
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 3px 0;
    font-size: 40px;
    /* transform: scale(1.2); */
}
.heading2
{
    text-align: center;
    background: linear-gradient(153deg, rgba(58,13,188,1) 20%, rgba(230,14,107,1) 69%); 
    margin-bottom: 20px;font-family: 'Poppins';
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 3px 0;
    font-size: 40px;
}
.heading3
{
    text-align: center;
    background: linear-gradient(153deg, rgb(228, 225, 237) 20%, rgb(14, 147, 230) 69%); 
    margin-bottom: 20px;font-family: 'Poppins';
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 3px 0;
    font-size: 40px;
}
.heading:hover
{
    /* color: red; */
    transform: scale(1.08);
    transition: 0.5s;
}
.heading2:hover
{
    transform: scale(1.05);
    transition: 0.5s;
}
/* .heading3:hover
{
    transform: scale(1.15);
    transition: 0.5s;
} */
.container .products .box-container .box{
    width: 280px;
    height: 420px;
    text-align: center;
    border-radius: 5px;
    box-shadow: black;
    border: black;
    position: relative;
    padding: 20px;
    background-color: white;
}
.container .products .box-container .box .name
{
    font-size: 22px;
    background: linear-gradient(153deg, rgba(188,13,98,1) 35%, rgba(121,9,120,1) 69%);
    font-family: 'Poppins';
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 3px 0;
    /* color: linear-gradient(153deg, rgba(188,13,98,1) 35%, rgba(121,9,120,1) 69%);  */
}
.container .products .box-container .box .price
{
    position: absolute;
    top: 10px;left: 10px;
    padding: 3px 8px;
    border-radius: 5px;
    background-color: orange;
    color: white;
    font-size: 20px;
}
.container .products .box-container .box input[type="number"]
{
    margin: 8px 0;
    width: 80%;
    border: var(--border);
    border-radius: 10px;
    font-size: 15px;
    color: black;
    padding: 8px 5px;
}
.product-area
{
    width: full;
    background-color: red;
}

    /* banner-section */
.banner-margin
{
    margin:40px 0;
}
#banner
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url(./images/banner1.png);
    width: 100%;
    height: 40vh;
}
#banner h4{
    text-align: center;
    background: linear-gradient(153deg, rgb(211, 137, 10) 20%, rgb(193, 13, 163) 69%); 
    margin-bottom: 20px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 25px;
}
#banner h2{
    text-align: center;
    /* background: linear-gradient(153deg, rgb(222, 128, 13) 30%, rgb(230, 14, 201) 69%);  */
    background:linear-gradient(153deg, rgb(227, 67, 176) 30%, rgb(38, 57, 227) 69%);
    margin-bottom: 20px;
    font-family: 'Poppins';
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
    padding: 10px 0;
}
#banner2
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url(images/banner2.png);
    width: 100%;
    height: 40vh;
}
#banner2 h4{
    margin-top: 10px;
    text-align: center;
    background:linear-gradient(153deg, rgb(222, 128, 13) 30%, rgb(230, 14, 201) 69%); 
    margin-bottom: 20px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 25px;
}
#banner2 h2{
    text-align: center;
    background:linear-gradient(153deg, rgb(227, 67, 176) 30%, rgb(38, 57, 227) 69%);  
    margin-bottom: 20px;ont-family: 'Poppins';
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
    padding: 10px 0;
}

/* Footer-Section Css */
.Footer .logo
{
    background: linear-gradient(40deg, rgb(175, 22, 160) 25%,rgb(244, 6, 6) 90%);
    font-family: 'Poppins';
    text-transform: uppercase;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
    /* margin-bottom: 30px; */
    margin-right: 30px;
}
.Footer
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* background: rgb(223, 94, 175); */
    text-align: center;
	border: 1px solid rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(7px);
	-webkit-backdrop-filter: blur(7px);
}
.Footer .col
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 18px;
    margin-left: 5px;
    color: aliceblue;
}
.Footer .col2
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
}
.Footer .col3
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
}
.Footer .col-map
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 17px;
    margin-right: 10px;
}
.Footer h4{
    font-size: 14px;
    padding-bottom: 8px;
}
.Footer p{
    /* font-size: 13px; */
    margin:0 0 8px 0;
}
.Footer a{
    font-size: 15px;
    text-decoration: none;
    color: white;
    margin-bottom: 10px;
}
.Footer .follow i
{
    color:white;
    padding-right: 4px;
    cursor: pointer;
    font-size: 25px;
}
.Footer .map
{
    border: 1px solid black;
    border-radius: 6px;
}
.Footer .follow i:hover,
.Footer a:hover{
    color: aqua;
}
.copyright  
{
    margin-top: 40px;
    font-size: 30px;
    color:black;
    text-align: center;
}
span
{
    background: linear-gradient(40deg, rgb(252, 210, 3) 25%,rgb(255, 7, 3) 90%);
    text-transform: uppercase;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
    text-align: center;
}
